body {
  background-color: #999;
}
.App {
  text-align: center;
}
.App h2{
  color: #004278;
}


.GenContainer {
  margin-top: 35px;
}
.genButton {
  font-size: 16pt;
}
.MBIDisplay {
  margin-top: 15px;
  font-size: 18pt;
}


.VerContainer {
  margin-top: 75px;
}
.verInput {
  font-size: 16pt;
}
.verButton {
  font-size: 16pt;
  margin-left: 15px;
}
.validDisplay {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 5px;
}
.IsValid {
  color: green
}
.NotValid {
  color: red;
}